.feedback--section {
	margin-top: 10px;
	background-color: #fafafa;
}

.feedback {
	padding-bottom: 100px;

	max-width: 600px;

	margin: 0 auto;
}

.feedback--item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.feedback--item--message {
	align-items: center;

	margin-top: 10px;
}

.feedback--item input,textarea{
	box-sizing: border-box;

	width: 48%;

	padding: 16px 0 20px 16px;
	margin: 10px 0 10px 0;

	font-size: 14px;

	border: 1px solid #222;
	border-radius: 5px;
}

.feedback--item textarea {
	width: 100%;
}

.newsletter--wrapper {
	position: relative;
}

.newsletter--wrapper input[type=checkbox] {
	display: none;
}

.feedback--item label {
	cursor: pointer;

	margin-left: 26px;
}

.feedback--item label:before {
	content: "";
	display: inline-block;

	margin-right: 10px;

	width: 16px;
	height: 16px;

	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);

	background-color: #eee;
	border-radius: 4px;
}

input[type=checkbox]:checked + label:before {
	content: "\2713";

	font-size: 16px;
	line-height: 15px;

	text-align: center;
}

.newsletter--btn {
	background-color: #1de9b6;

	margin-right: 0;
}

@media (max-width: 340px) {
	.feedback--item {
		flex-wrap: wrap;
	}

	.feedback--item input {
		width: 100%;
	}

	.feedback--item--message {
		justify-content: center;
	}
}