footer {
	background-color: #061e37;
}

footer .logo{
	align-items: center;
}

.footer {
	display: flex;
	flex-direction: column;
}

.footer--first--column {
	display: flex;

	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	margin-top: 100px;
	margin-bottom: 60px; 
}

.foot--link {
	font-size: 15px;
	font-weight: 400;
	color: #fff;

	margin-left: 50px;
}

.foot--link a:hover {

}

.footer--second--column {
	display: flex;

	flex-direction: row;
	justify-content: space-between;

	margin-bottom: 100px;
}

.footer--second--column ul{
	padding: 0;
	margin: 0;
	color: #fff;

	display: flex;

	flex-direction: row;
	align-items: center;
}

.footer--second--column li {
	list-style-type: none;

	font-size: 15px;
	font-weight: 300;
	color: #fff;
	opacity: 0.7;
}

.circle {
	width: 7px;
	height: 7px;

	margin: 0 15px 0 15px;
	border-radius: 50%;

	background-color: #fff;
}

.company--social--links i {
	margin-left: 10px;
	opacity: 0.7;
}

@media (max-width: 780px) {
	footer {
		text-align: center;
	}

	.footer--first--column {
		flex-direction: column;
		align-items: center;
	}

	.foot--nav {
		display: flex;
		flex-direction: column;
	}

	.foot--link {
		margin-left: 0;
		margin-top: 10px;
	}

	.footer--second--column {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.footer--second--column ul {
		flex-direction: column;
	}

	.footer--second--column .circle,a {
		margin-top: 10px;
	}

	.company--social--links {
		margin-top: 15px;
	}

	.footer--second--column i {
		margin: 0 5px 0 5px;
	}

	footer .logo {
		flex-direction: column;
		align-items: center;

		margin-bottom: 10px;
	}

	footer .logo--icon {
		margin-right: 0;
		margin-bottom: 10px;
	}
}

@media (max-width: 480px) {
	.footer--first--column {
		margin-top: 60px;
		margin-bottom: 30px;
	}
}