body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}

a,a:visited,a:hover,a:focus {
	text-decoration: none;
	color: #fff;
}

p {
	padding: 0;
	margin: 0;
}

:root {
	font-size: 16px;
}

.header {
	background: linear-gradient(to left, rgba(0,184,212,0.1),rgba(29,233,182)),url(../public/images/header/1.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.container {
	max-width: 1400px;
	padding: 0px 20px;
	box-sizing: border-box;

	margin: 0 auto;
}

/*head*/

.head--fixed {
	position: fixed;
	width: 100%;

	background-color: #2c73b8;

	padding-bottom: 40px;

	z-index: 1200;
}

.head {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	padding-top: 50px;
}

/*logo*/

.logo {
	display: flex;
}

.logo--icon {
	margin-right: 18px;
}

.logo--title {
	text-transform: uppercase;
	font-size: 1rem;

	color: #fff;
}

.logo--title h3:first-child {
	font-weight: 300;
}

.logo--bold {
	font-weight: 700;
}

/*nav*/

nav {
	display: flex;
	justify-content: space-between;
}

.nav {
	z-index: 501;
}

.nav--link {
	display: block;

	color: #fff;
	font-size: 0.9375rem;
	line-height: 1.667;
	font-weight: bold;
	transition: all .2s;
}

.nav--link:not(:last-child) {
	margin-right: 40px;
}

.nav--link:hover {
	color: rgb(6, 30, 55);
	cursor: pointer;
}

.nav--toggle {
	width: 90px;
	height: 90px;

	background-color: #2c73b8;

 	border-radius: 50%;

	display: none;

	position: fixed;
	z-index: 500;
	left: 50%;
	bottom: 0;
	transform: translate3d(-50%,50%,0);

	transition: all 1s;
}

.nav--toggle.nav--toggle--open {
	transition: all 3.5s;
}

.nav--toggle span{
	font-size: 0;
	background-color: #fff;

	display: block;
	height: 3px;
	width: 40px;

	position: absolute;
	top: 28%;
	left: 50%;
	transform: translateX(-50%);
}

.nav--toggle span:before{
	content: '';
	display: block;

	background-color: #fff;
	height: 3px;
	width: 100%;

	position: absolute;
	top: -8px;
}

.nav--toggle span:after{
	content: '';
	display: block;

	background-color: #fff;
	height: 3px;
	width: 100%;

	position: absolute;
	top: 8px;
}

.nav--toggle.nav--toggle--open span {
	display: none;
}

.nav--toggle.nav--toggle--open{
	bottom: 0;
	left: 0;
	transform: translateY(0);

	border-radius: 0;

	width: 1000%;
	height: 1000%;
}

.nav.nav--toggle--open {
	position: fixed;
	margin: 0;

	top: 50%;
	transform: translateY(-50%);
}

.nav.nav--toggle--open nav{
	flex-wrap: wrap;
}

.nav.nav--toggle--open .nav--link {
	width: 100%;
	margin: 15px;
}

/*log--in*/

.log--button {
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 2px;

	font-size: 0.75rem;
	color: #fff;
	line-height: 2.083;

	transition: all 0.2s;
}

.log--button:hover {
	background-color: #fff;
	color: #222;
	cursor: pointer;
}

/*header--content*/

.header--content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	padding-top: 150px;
	padding-bottom: 170px;
}

.header--advertisement {
	width: 42%;
	text-align: left;
}

.header--video {
	max-width: 50%;
	height: auto;

	z-index: 1;
}

.header--video video{
	width: 100%;
}

.header--title h1{
	font-size: 3.4375rem;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1.182; 
	color: #fff;
}

.header--title p {
	font-size: 1.125rem;
	color: #fff;
	font-weight: normal;
	line-height: 1.944;
}

/*buy*/

button {
	background-color: transparent;
	border: 0;
	padding: 0;
}

.buy {
	display: flex;
	justify-content: flex-start;

	margin-top: 30px;
}

.buy--item {
	font-size: 0.9375rem;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.2;

	border-radius: 4px;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);

	padding: 18px 35px;
	margin: 0 10px 0 0;

	transition: all 0.2s;
}

.buy--item {
	color: #061e37;
	background-color: #fff;
}

.buy--item:hover {
	color: #fff;
	background-color: #061e37;
	font-weight: normal;

	cursor: pointer;

	transform: scale(1.1);
}

.sub--buy--item {
	display: block;
}

@media (max-width: 1170px) {
	:root {
		font-size: 15px;
	}
}


@media (max-width: 1070px) {
	/*header--content*/

	.header--content {
		justify-content: center;
		padding-bottom: 100px;
	}

	.header--advertisement {
		width: 100%;

		text-align: center;

		margin-bottom: 100px;
	}

	.header--video {
		max-width: 80%;
	}

	/*buy*/

	.buy {
		justify-content: center;
	}

	.buy--item {
		margin: 0 10px 0 10px;
	}

	.sub--buy--item {
		margin: 0;
	}
}

@media (max-width: 820px) {

	/*header--content*/ 

	.header--content {
		padding-bottom: 50px;
	}

	/*log--in*/

	.head--item.log--in{
		order: 2;
	}

	/*nav*/

	.head--item.nav {
		order: 3;

		width: 70%;
		margin: 20px auto 0 auto;

		justify-content: space-between;
	}
} 	

@media (max-width: 640px) {

	/*header--content*/ 

	.header--content {
		padding-bottom: 10px;
	}

	/*nav*/

	.nav--link {
		animation: opac--on--nav 2s infinite alternate;
		animation-iteration-count: 1;
	}

	.nav.nav--toggle--open {
		width: 100%;
	}

	.head--item.nav {
		display: none;
	}

	.nav.nav--toggle--open {
		display: block;
	}

	.nav--toggle {
		display: block;
	}
}

@media (max-width: 480px) {
	:root {
		font-size: 14px;
	}

	.header--advertisement {
		margin-bottom: 50px;
	}

	/*header--content*/

	.header--content {
		padding-top: 100px;
	}

	.header--title h1 {
		font-size: 3rem;
	}

	.header--title p {
		font-size: 1rem;
	}

	/*logo*/

	.logo--title {
		font-size: 0.9rem;
	}

	/*buy*/

	.buy--item {
		padding: 16px 30px;
	}
}

@media (max-width: 340px) {
	/*header--content*/

	.header--content {
		padding-top: 30px;
		padding-bottom: 10px;
	}

	.header--title h1 {
		font-size: 2.5rem;
	}

	/*head*/

	.head {
		flex-direction: column;
	}

	/*logo*/

	.logo {
		flex-direction: column;
		align-items: center;

		margin-bottom: 10px;

		text-align: center;
	}

	.logo--icon {
		margin-right: 0;
	}

	/*buy*/

	.buy {
		flex-direction: column;
		align-items: center;
	}

	.buy--item {
		font-size: 0.8rem;

		width: 60%;
		margin: 10px 0;
		padding: 10px 22px;
	}
}

@media (max-width: 280px) {
	/*header--content*/

	.header--title h1 {
		font-size: 2.25rem;
	}
}

@media (max-width: 240px) {
	/*header--content*/

	.header--title h1 {
		font-size: 2rem;
	}
}

@keyframes opac--on--nav {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}


